<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secretaria Virtual-Recordatorio Nuevo</title>
    <link rel="shortcut icon" href="/assets/LOGO-ULEAM-HORIZONTAL.png" />
  </head>
  <body>
    <nav class="recordation">
      <ul class="recordation1">
        <li class="recordation2">
          <a href="recordatorionuevo"><button id="ERM" class="Enviar">Enviar</button></a>
        </li>
        <li class="recordation3">
          <a href="recordatorio"
            ><button id="R" class="Regresar">Regresar</button></a
          >
        </li>
      </ul>
    </nav>
    <section class="Titulo">
      <input
        class="TituloR"
        type="text"
        name="Titulo"
        id="Titulo"
        placeholder="Titulo"
      />
      <input
        class="Redactar"
        type="text"
        name="Redacta"
        id="Redacta"
        placeholder="Redacta el Recordatorio"
      />
    </section>
  </body>
</html>
